VITE_SUPABASE_URL=https://qlfmuwefiehbctqipwpl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZm11d2VmaWVoYmN0cWlwd3BsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MzU5NDMsImV4cCI6MjA5MzQxMTk0M30.YuDAL_PY8x5lmyidbJimf5_qJa1_OiFyDt-vg4LGDSo
